body {
    background-color: rgb(163, 211, 230);
    background-image: url('images/blue-sky.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 2000px;
}

h1 {
    color: black;
}

h2 {
    color: black;
}

marquee {
    background-color: white;
}

.mainHeader {
    text-align: center;
    font-family: 'Bungee Shade', cursive;
}

.subHeader {
    text-align: center;
    font-family: 'Bungee Shade', cursive;
    text-decoration: none;
}

.topnav {
    cursor: pointer;
    text-align: center;
    padding: 10px;
    background-color: black;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: white;
    text-decoration: none;
    width: 97.5%;
  }

.topnav a:hover {
    background-color: rgb(213, 242, 253);
    color: black;
  }

.topnav a.active {
    background-color: white;
    color: black;
  }

.homepage-mainparagraph {
    text-align: justify;
}
